{% extends "base.html" %}

{% block title %}Грант{% endblock %}

{% block content %}
<form action="." method="post">
  {% csrf_token %}

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">название гранта</label>
    <div class="col-sm-6">{{ form.name }}</div>
    <div class="col-sm-3">
      {% if form.name.errors %}<div class="text-danger small">{{ form.name.html_error_list }}</div>{% endif %}
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">роль</label>
    <div class="col-sm-6">{{ form.role }}</div>
    <div class="col-sm-3">
      {% if form.role.errors %}<div class="text-danger small">{{ form.role.html_error_list }}</div>{% endif %}
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">год</label>
    <div class="col-sm-6">{{ form.year }}</div>
    <div class="col-sm-3">
      {% if form.year.errors %}<div class="text-danger small">{{ form.year.html_error_list }}</div>{% endif %}
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">комментарий</label>
    <div class="col-sm-6">{{ form.note }}</div>
    <div class="col-sm-3">
      {% if form.note.errors %}<div class="text-danger small">{{ form.note.html_error_list }}</div>{% endif %}
    </div>
  </div>

  <div class="mt-4">
    <button type="submit" class="btn btn-primary"><i class="ti ti-device-floppy"></i> Сохранить</button>
  </div>
</form>

<div class="alert alert-light mt-4">
  <p class="small mb-0">Список грантов, научных контрактов и договоров, в выполнении которых участвовал научный работник с указанием его конкретной роли. (Используется только для аттестации.)</p>
</div>
{% endblock %}
