{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="card mb-4">
  <div class="card-header">
    <h4 class="card-title mb-0">Инструкции по пользованию программой</h4>
  </div>
  <div class="card-body">
    <div class="accordion" id="instructionsAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGeneral">
            Общие положения
          </button>
        </h2>
        <div id="collapseGeneral" class="accordion-collapse collapse show" data-bs-parent="#instructionsAccordion">
          <div class="accordion-body">
            <ul class="mb-0">
              <li>Обязательные для заполнения поля подсвечены розовым цветом.</li>
              <li>Для добавления новой сущности (скажем, новой публикации) пройдите по соответствующей ссылке ("публикации") и нажмите кнопку "новый".</li>
              <li>Пожалуйста, перед добавлением новой сущности, убедитесь в разумности ее добавления, прочитав общие правила под кнопкой "сохранить" (начинающиеся со слов "начисление баллов за"); полный текст правил также приведен на этой странице ниже.</li>
              <li>Для модификации уже имеющейся записи, нажмите на номер этой записи.</li>
              <li>Любую дополнительную информацию вводите в поле "комментарий".</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReports">
            Отчеты
          </button>
        </h2>
        <div id="collapseReports" class="accordion-collapse collapse" data-bs-parent="#instructionsAccordion">
          <div class="accordion-body">
            <ul class="mb-0">
              <li>Отчет сотрудника за определенный год состоит из всех записей этого сотрудника за этот год. Список Ваших отчетов доступен из меню "отчеты".</li>
              <li>Каждый отчет имеет четыре состояния: "не подписан", "подписан", "одобрен ответственным по лаборатории", "утвержден директором". Баллы за отчет учитываются только после утверждения директором. Каждый пользователь может подписать свой отчет, после чего он теряет возможность редактировать записи за этот год (в случае, если Вы случайно подписали отчет, забыв что-то в него добавить, попросите ответственного по Вашей лаборатории изменить статус отчета на "не подписан"). До тех пор, пока отчет не одобрен, ответственный по лаборатории имеет право редактировать записи членов лаборатории (в том числе и удалять их), а также добавлять новые. После одобрения отчета ответственный по лаборатории теряет такую возможность. При одобрении отчета ответственный также может прокомментировать научную деятельность каждого своего сотрудника. Директор института может утвердить отчет, а также выставить пользователю индивидуальный повышающий коэффициент.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAttestation">
            Аттестация 2005-2008
          </button>
        </h2>
        <div id="collapseAttestation" class="accordion-collapse collapse" data-bs-parent="#instructionsAccordion">
          <div class="accordion-body">
            <p>В этом году было решено использовать систему автоматического подсчета ПРНД для генераций аттестационных отчётов. Для генерации отчёта необходимо внести в программу информацию о научной деятельности за 2005-2008 гг. Большинство Вашей информации уже есть в базе данных, но необходимо её дополнить следующими новыми данными:</p>
            <ul>
              <li>гранты и награды за 2005-2008 гг (если длительность Вашего гранта больше одного года, вводите его несколько раз -- по разу на каждый год);</li>
              <li>дополнительная информация по публикациям; в программе значительно расширен список типов публикаций; Вам необходимо зайти в форму редактирования каждой Вашей публикации (форма открывается при нажатии на ссылку-номер, расположенную слева от публикации) и выбрать там наиболее подходящий вариант.</li>
            </ul>
            <p class="mb-0">Когда вся необходимая информация будет внесена, подпишите все отчёты с 2005-го по 2007-й год (отчет за 2008-й год пока что подписывать не нужно). Если Вы по каким-то причинам не можете внести в программу информацию о своей научной деятельности, за Вас это может сделать ответственный по Вашей лаборатории. По всем вопросам обращайтесь к ответственным и автору программы (Александр Куликов, kulikov()logic.pdmi.ras.ru).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h4 class="card-title mb-0">Изменения в порядке начисления баллов</h4>
  </div>
  <div class="card-body">
    <p>В соответствии с решением Ученого совета (протокол №1 от 27 января 2011 г.)</p>
    <ul>
      <li>Установлен повышающий коэффициент для лиц, недавно защитивших докторскую диссертацию (без ограничения возраста защитившегося). Ранее повышающий коэффициент действовал для лиц не старше 40 лет. Для лиц, защитивших кандидатскую диссертацию, ограничение по возрасту (не более 40 лет) сохранено.</li>
      <li>Внесены изменения в порядок начисления баллов за доклады на конференциях. Любой доклад (приглашенный или не приглашенный) на любой конференции (российской или международной), а также доклад на заседании Общеинститутского семинара или заседании Санкт-Петербургского математического общества оценивается в 15 баллов. Установлено суммарное ограничение по этому показателю: не более 45 баллов (т.е. 3 доклада) в год.</li>
    </ul>
    <p class="mb-0">За подготовку отзыва оппонента на кандидатскую или докторскую диссертацию начисляется 5 баллов, за подготовку отзыва ведущей организации начисляется 6 баллов (Решение Ученого Совета ПОМИ РАН, протокол №1 от 29.02.2016).</p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title mb-0">Порядок начисления баллов</h4>
  </div>
  <div class="card-body">
    <div class="accordion" id="rulesAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRule1">
            1. Индивидуальный ПРНД научных работников
          </button>
        </h2>
        <div id="collapseRule1" class="accordion-collapse collapse" data-bs-parent="#rulesAccordion">
          <div class="accordion-body">
            <p><strong>1.1. Начисление баллов за публикации.</strong></p>
            <p>За публикацию статьи в ведущем рецензируемом российском или зарубежном журнале, сборнике или продолжающемся издании, обладающем высоким индексом цитирования (Список А) начисляется 30 баллов.</p>
            <p>За публикацию статьи в рецензируемом российском или зарубежном журнале, сборнике или продолжающемся издании (Список Б) начисляется 15 баллов.</p>
            <p>За публикацию новых результатов в иной форме (в том числе, в журналах и изданиях, не входящих в списки А и Б) начисляется 6 баллов.</p>
            <p>Для статей, написанных в соавторстве, балл за публикацию делится на количество авторов публикации, доли, меньшие 10 процентов, округляются до 10 процентов.</p>
            <p>Включение изданий в Список А и Список Б осуществляется на основании рекомендации комиссии. Списки утверждаются специальным решением ученого совета.</p>

            <p><strong>1.2. Начисление баллов за монографии.</strong></p>
            <p>За монографии и учебники устанавливается балл, равный объему монографии в печатных листах, умноженному на повышающий коэффициент k, 2≤k≤3. Повышающий коэффициент k, равный трем, устанавливается, как правило, для монографий и учебников, изданных ведущими научными издательствами.</p>
            <p>При наличии соавторов балл делится на общее количество авторов. Не учитываются стереотипные переиздания, балл за переработанные переиздания устанавливается пропорционально объему нового материала.</p>

            <p><strong>1.3. Начисление баллов за участие в конференциях и семинарах.</strong></p>
            <p>За устный доклад на российской конференции устанавливается балл 4, устный доклад на международной конференции - 6, приглашенный доклад на российской конференции - 20, приглашенный доклад на международной конференции - 30.</p>
            <p>Международной считается научная конференция, более 50 процентов участников которой не являются гражданами Российской Федерации. Обязательным требованием является отбор докладов организаторами конференции.</p>

            <p><strong>1.4. Начисление баллов за курсы лекций.</strong></p>
            <p>За разработку нового научно-образовательного курса лекций, читаемого впервые, устанавливается балл 20 за каждый семестр курса. За доработку научно-образовательного курса устанавливается балл 10 во второй год и балл 5 в последующие годы.</p>
            <p>За руководство специализированным студенческим семинаром устанавливается балл 5 за каждый семестр.</p>

            <p><strong>1.5. Начисление баллов за патенты.</strong></p>
            <p>За патент, являющийся результатом выполнения бюджетных НИР, устанавливается балл 20. Для патентов, полученных с соавторами, балл делится на общее число авторов.</p>

            <p><strong>1.6. Начисление баллов за научное руководство.</strong></p>
            <p>За руководство соискателем ученой степени, защитившим кандидатскую диссертацию, устанавливается балл 45. За научное консультирование докторской диссертации - балл 45. За руководство дипломной работой при поступлении в аспирантуру - балл 15.</p>

            <p><strong>1.7. Начисление баллов за редактирование.</strong></p>
            <p>За редактирование книги, тома в продолжающемся издании, трудов конференции устанавливается балл 10. За работу в составе редколлегий изданий из Списка А - балл 3, из Списка Б - балл 2.</p>

            <p><strong>1.8. Начисление баллов за научно-организационную работу.</strong></p>
            <p>За работу в составе программных и организационных комитетов российских научных конференций начисляется балл 4. За работу в составе комитетов международных конференций - балл 6.</p>

            <p><strong>1.9. Начисление баллов за оппонирование.</strong></p>
            <p>За оппонирование кандидатской диссертации - 10 баллов, докторской диссертации - 15 баллов.</p>

            <p><strong>1.10. Начисление баллов за работу со школьниками и студентами.</strong></p>
            <p class="mb-0">По мотивированному предложению лаборатории может быть начислено до 5 баллов за факультативную работу с талантливыми школьниками и студентами.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRule2">
            2. Начисление баллов за цитирование
          </button>
        </h2>
        <div id="collapseRule2" class="accordion-collapse collapse" data-bs-parent="#rulesAccordion">
          <div class="accordion-body">
            <p class="mb-0">Учет в индивидуальном ПРНД российского индекса цитирования научных работников будет осуществляться после разработки Российской академией наук и Минобрнауки России соответствующих правил определения и учета российского индекса цитирования.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRule3">
            3. Совместители
          </button>
        </h2>
        <div id="collapseRule3" class="accordion-collapse collapse" data-bs-parent="#rulesAccordion">
          <div class="accordion-body">
            <p class="mb-0">Индивидуальный ПРНД научных работников, работающих по совместительству, умножается на коэффициент, равный отношению продолжительности рабочего времени совместителя к нормальной продолжительности рабочего времени штатного работника. Для работников, поступивших на работу не ранее чем за два года до года выплаты надбавок, учитываются результаты, полученные по основному месту работы.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRule4">
            4. Руководители подразделений
          </button>
        </h2>
        <div id="collapseRule4" class="accordion-collapse collapse" data-bs-parent="#rulesAccordion">
          <div class="accordion-body">
            <p class="mb-0">Индивидуальный ПРНД руководителей подразделений устанавливается путем сложения 50 процентов индивидуального ПРНД и 75 процентов среднего ПРНД научных работников подразделения. Если ПРНД руководителя, вычисленный по этому правилу, оказывается существенно ниже его индивидуального ПРНД, то решением ученого совета его ПРНД может быть вычислен только на основании общей методики.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRule5">
            5. Молодые исследователи
          </button>
        </h2>
        <div id="collapseRule5" class="accordion-collapse collapse" data-bs-parent="#rulesAccordion">
          <div class="accordion-body">
            <p class="mb-0">В течение 5 лет после окончания высшего учебного заведения индивидуальный ПРНД умножается на повышающий коэффициент 2. Для аспирантов-совместителей устанавливается коэффициент 3. Для сотрудников, защитивших диссертацию в возрасте до 40 лет, устанавливается коэффициент 2 в год после защиты, затем 1,5 в течение последующих 2 лет.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
