{% extends "base.html" %}

{% block title %}Баллы{% endblock %}

{% block content %}
<h4 class="mb-4">Баллы</h4>

<form action="/costs/" method="post">
  {% csrf_token %}

  <div class="table-responsive mb-4">
    <table class="table table-vcenter card-table">
      <thead>
        <tr>
          <th>описание</th>
          <th class="w-25">значение</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in list %}
        <tr>
          <td>{{ entry.note }}</td>
          <td>
            <input type="text" class="form-control" name="cost{{ entry.id }}" value="{{ entry.value }}">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <button type="submit" class="btn btn-primary"><i class="ti ti-device-floppy"></i> Сохранить</button>
</form>
{% endblock %}
